{% load static %}

<footer id="footer">
    <div class="container-fluid">
        <p class="contact-icons">
            <a href="https://www.facebook.com/profile.php?id=100091676629376"><i class="c-icon fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/bloodsourceinc/"><i class="c-icon fa-brands fa-instagram"></i></a>
            <a href="mailto:bloodsourceinc@gmail.com"><i class="c-icon fa-regular fa-envelope"></i></a>
        </p>
        <h1 style="font-size:3rem; padding:10px;"><strong>Made with Love</strong></h1>
        <p>Copyright ©2023 All Rights Reserved By BloodSourceInc.</p>
        <p>Desgined and Developed by Rookies</p>
    </div>
</footer>
