{% load static %}

<section id="title-main">
    <!--COMPANY LOGO AND PHONE NO.-->
    <div class="logo-div">
        <img src="{% static 'images/logo.jpeg' %}" alt="logo" class="logo" />
        {% if user.is_authenticated %}
                <p style="position: absolute; bottom:547px; right:320px; color:#fff;"><i class="fa-solid fa-user" style="margin-right:4px;"></i>{{ user.username }}</p>
                <button type="button" class="loginbtn btn btn-outline-primary" style="margin-top:75px; position: absolute; right:210px; padding:5px 10px; color:#fff;"><a class="nav-link" href="/logout"> Logout</a></button>
        {% else %}
                <button type="button" class="loginbtn btn btn-outline-secondary btn-lg" style="margin-top:75px; position: absolute; right:315px; padding:5px 20px; color:#fff;"><a class="nav-link" href="/login"> Login</a></button>
                <button type="button" class="registerbtn btn btn-outline-secondary btn-lg" style="margin-top:75px; position: absolute; right:210px; padding:5px 10px; color:#fff;"><a class="nav-link" href="/register"> Register</a></button>
        {% endif %}
    </div>

    <div class="container-fluid">
        <!--NAVBAR-->

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">BloodSourceInc.</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/events"> Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-appointment"> Donate-blood</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-appointment"> Request-blood</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us"> About-us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#articles"> FAQ's</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#footer"> Contact-us</a>
                    </li>
                    {% if request.user.is_staff %}
                    <li>
                        <a class="nav-link" href="/staff/homepage"> Staff</a>
                    </li>
                    {% endif %}
            </div>
        </nav>
    </div>
</section>
