{% extends 'base.html' %}

{% block title %}
    Register User
{% endblock %}

{% block content %}

    <h1>Register User</h1>

    <form method="post">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}
        {{ form.password.label }} {{ form.password }}
        {{ form.email.label }} {{ form.email }}
        {{ form.first_name.label }} {{ form.first_name }}
        {{ form.last_name.label }} {{ form.last_name }}

        {{ form.age.label }} {{ form.age }}
        {{ form.phone.label }} {{ form.phone }}
        {{ form.blood_group.label }} {{ form.blood_group }}
        {{ form.state.label }} {{ form.state }}
        {{ form.pincode.label }} {{ form.pincode }}
        {{ form.date_of_registration.label }} {{ form.date_of_registration }}
        {{ form.weight.label }} {{ form.weight }}
        {{ form.date_of_birth.label }} {{ form.date_of_birth }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
