{% extends 'base.html' %}

{% block title %}
    Register User
{% endblock %}

{% block content %}

    <h1>Register User</h1>

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {{ form.csrf_token }}


        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control">
        </div>
        <input type="password" name="password">
        <input type="email" name="email">
        <input type="text" name="first_name">
        <input type="text" name="last_name">
        <input type="number" name="age">
        <input type="number" name="phone">
        <input type="text" name="blood_group">
        <input type="text" name="state">
        <input type="number" name="pincode">
        <input type="date" name="date_of_registration">
        <input type="number" name="weight">
        <input type="date" name="date_of_birth">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
