{% extends 'base.html' %}

{% block title %}
    Fullfill Appointment
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h4 style="font-weight: bold; margin-bottom: 40px; text-align: center;">
        {% if appointment.type == 'Donor' %}
        Enter the number of units of blood received from the donor
    {% else %}
        Enter the number of units of blood donated to the patient
    {% endif %}
        </h4>
        <form method="POST" style="text-align: center;">

            {% csrf_token %}
        <div class="row g-3">
            <div class="mb-3 col-lg-6" style="margin-left: 250px;">
            {{ form.units }}
            {{ form.units.errors }}
            </div>
        </div>
            <br>
            <button
      type="submit"
      class="mb-3 btn btn-primary btn-lg"
    >
      Confirm
    </button>
        </form>
    </div>
{% endblock %}
