{% extends 'base.html' %}

{% block title %}
    View Appointments
{% endblock %}

{% block content %}
    <h1> View Appointments </h1>

    <input type="text" id="name-search" placeholder="Search by name">

    <button id="search-button" class="btn btn-primary">Search</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th> Clinic Name </th>
                <th> Date and Time of Appointment </th>
                <th> Date and Time of Booking </th>
                <th> Type </th>
                <th> Fullfilled </th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td> {{ appointment.clinic_id.name }} </td>
                    <td> {{ appointment.datetime_of_appointment }} </td>
                    <td> {{ appointment.datetime_of_booking }} </td>
                    <td> {{ appointment.type }} </td>
                    <td>
                        {% if appointment.fullfilled %}
                            <p>Fullfilled</p>
                        {% else %}
                            <a href="{% url 'staff-fullfill-appointment' appointment.appointment_id %}" class="btn btn-primary">Fullfill</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
