.container-fluid {
  padding: 7% 15%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat-light", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #feff86;
}
.logo {
  width: 50%;
  height: 150px;
}
.logo-div {
  padding: 10px 15% 0;
}
.loginbtn:hover {
  background-color: #fff;
  color: #ee3f46;
}
.registerbtn:hover {
  background-color: #fff;
  color: #ee3f46;
}
.loginbtn a:hover {
  color: #ee3f46;
}
.registerbtn a:hover {
  color: #ee3f46;
}
/*title section*/
#title-main .container-fluid {
  padding: 0 15% 7%;
}
#title-main {
  background-color: #ee3f46;
  color: #fff;
}
.navbar {
  background-color: #ee3f46;
}
.nav-item {
  padding: 0 5px;
}
.nav-link {
  font-family: "Ubuntu", sans-serif;
}
/*main-blood*/
#main-blood {
  width: 100%;
}
#videoDiv {
  width: 100%;
  height: 360px;
  position: relative;
}
#video1 {
  margin: auto;
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -100;
}
#videoMessage {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
a.bl-text:hover {
  color: #dc3535;
}
/*feature*/
#features {
  background-color: #fff;
}
.card {
  text-align: center;
}
/*articles*/
#articles {
  text-align: center;
  background-color: #ee3f46;
  color: #fff;
}
.article-text,
.names {
  line-height: 1.5;
  font-size: 3.5rem;
}
.article-img {
  height: 400px;
  width: 50%;
  padding: 50px 0;
}
/*contact-us*/
#footer {
  text-align: center;
  background-color: #2b3467;
  color: #fff;
}
.love {
  font-size: 3rem;
}
.contact-icons {
  margin: 2%;
  font-size: 4rem;
}
.c-icon {
  padding: 5px;
  color: #fff;
  border-radius: 20px;
}
.c-icon:hover {
  color: #feff86;
}
/*about-us*/
.team {
  text-align: center;
  line-height: 1.5;
  font-size: 4rem;
}
#ot {
  background-color: #f9b5d0;
  text-align: center;
  padding: 2% 2%;
}
#about {
  text-align: center;
  animation: color-change 5s infinite;
  color: #000;
}
@keyframes color-change {
  0% {
    background-color: #ffa900;
  }
  50% {
    background-color: #ff7100;
  }
  100% {
    background-color: #ffa900;
  }
}
#about .container-fluid {
  padding: 1% 1%;
}
.about-img {
  width: 15%;
  height: 200px;
  margin: 20px 0 50px;
}
/*events*/
#events {
  text-align: center;
}
.ev-img {
  width: 50%;
  height: 250px;
  margin: 20px 0 50px;
}
.g {
  position: absolute;
  left:20px;
}
.w {
  position: absolute;
  right:20px;
}
.card {
  margin: 20px;
}
.w:hover {
  color: #13ec49;
}
.g:hover {
  color: #576cbc;
}
#events .card-footer{
  padding-bottom: 40px;
}
/*register user*/
.reg-head {
  margin-bottom: 0px;
  text-align: center;
}
