{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%}
{% block content %}

<section id="main-blood">
  <div id="videoDiv">
    <video id="video1" preload="" autoplay="" muted="" playsinline="" loop="">
      <source
        src="{% static 'images/RedBloodCellsVidevo.mov' %}"
        type="video/mp4"
      />
    </video>
    <div id="videoMessage" class="styling">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">
          <a href="/create-appointment" class="bl-text">
            <i class="fa-solid fa-droplet"></i>Request Blood
          </a>
        </button>
        <button class="btn btn-primary" type="button">
          <a href="/create-appointment" class="bl-text">
            <i class="fa-solid fa-droplet"></i>Donate Blood
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
<section id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h2>DONATIONS</h2>
          </div>
          <div class="card-body">
            <p><i class="fa-solid fa-indian-rupee-sign fa-4x"></i></p>
            <p>
              Thank you for all your donations towards our mission and becoming
              an important part of our team.
            </p>
            <div class="card-footer">
              <button type="button" class="btn btn-danger">
                <a href="/donations">DONATE US</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h2>DONORS</h2>
          </div>
          <div class="card-body">
            <p><i class="fa-solid fa-handshake-angle fa-4x"></i></p>
            <p>
              Thank you all for your donating your blood and becoming a life-saver.Every blood donor is a hero!
            </p>
            <div class="card-footer">
              <button type="button" class="btn btn-danger">
                <a href="/volunteer">DONOR INFO</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h2>EVENTS</h2>
          </div>
          <div class="card-body">
            <p><i class="fa-regular fa-flag fa-4x"></i></p>
            <p>
              We are planning our important future events for all of you. Please
              check all the related information to join!
            </p>
            <div class="card-footer">
              <button type="button" class="btn btn-danger">
                <a href="/events">EVENTS INFO</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="articles">
  <div
    id="Articlescarousel"
    class="carousel slide container-fluid"
    data-ride="carousel"
    data-interval="1000"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2 class="article-text">Why should we donate blood?</h2>
        <img
          class="article-img"
          src="{% static 'images/whydonate.jpg' %}"
          alt="blood-importance"
        />
        <p>
          Blood is the most precious gift that anyone can give to another person
          – the gift of life. A decision to donate your blood can save a life,
          or even several if your blood is separated into its components – red
          cells, platelets and plasma – which can be used individually for
          patients with specific conditions.Safe blood saves lives. Blood is
          needed by women with complications during pregnancy and childbirth,
          children with severe anaemia, often resulting from malaria or
          malnutrition, accident victims and surgical and cancer patients.
        </p>
      </div>
      <div class="carousel-item">
        <h2 class="article-text">Is donating blood safe?</h2>
        <img
          class="article-img"
          src="{% static 'images/safe.jpeg' %}"
          alt="Blood-donation-safe"
        />
        <p>
          Yes. Remember that you will only be accepted as a blood donor if you
          are fit and well. Your health and well-being are very important to the
          blood service. The needle and blood bag used to collect blood come in
          a sterile pack that cannot be reused, so the process is made as safe
          as possible.
        </p>
      </div>
      <div class="carousel-item">
        <h2 class="article-text" style="font-size:2.5rem;">What is the blood donation process?</h2>
        <img
          class="article-img"
          src="{% static 'images/process.webp' %}"
          alt="Blood-donation-process"
        />
        <p>
          Donating blood is a simple thing to do. The donation itself is only about 8-10 minutes on average. The steps in the process are:
          <ul style="text-align: left;">
            <li>Registration</li>
            <li>Health history and mini-physical</li>
            <li>Donation</li>
            <li>Refreshments</li>
          </ul>
        </p>
      </div>
      <div class="carousel-item">
        <h2 class="article-text">How often can I donate blood?</h2>
        <img
          class="article-img"
          src="{% static 'images/often.webp' %}"
          alt="Blood-donation-often"
        />
        <p>
          You must wait at least eight weeks (56 days) between donations of whole blood and 16 weeks (112 days) between Power Red donations. Whole blood donors can donate up to 6 times a year. Platelet apheresis donors may give every 7 days up to 24 times per year. Regulations are different for those giving blood for themselves (autologous donors).
        </p>
        </div>
        <div class="carousel-item">
          <h2 class="article-text" style="font-size: 2.5rem;">What are the benefits of donating blood?</h2>
          <img
            class="article-img"
            src="{% static 'images/benefit.jpeg' %}"
            alt="Blood-donation-benefits"
          />
          <p>
            Donating blood has benefits for your emotional and physical health. According to reports the following benefits are associated with donating blood:
            <ul style="text-align: left;">
            <li>reduce stress</li>
            <li>improve your emotional well-being</li>
            <li>benefit your physical health</li>
            <li>help get rid of negative feelings</li>
            <li>provide a sense of belonging and reduce isolation</li>
            </ul>
          </p>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#Articlescarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#Articlescarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</section>

{% endblock %}
