.container-fluid {
  padding: 7% 15%;
}
/*title section*/
#title-main {
  background-color: #ff0032;
  color: #fff;
}
.navbar {
  background-color: #ff0032;
}
.nav-item {
  padding: 0 5px;
}
/*main-blood*/
/*feature*/
#features {
  background-color: #ff0032;
}
.card {
  text-align: center;
}
